In [11]:
import mysql.connector

In [12]:
mydb = mysql.connector.connect(
  host="localhost",
  user="ilia",
  password="Connect2Mysql!@#")

In [13]:
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE mydatabase")

In [14]:
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('amir_test',)
('barge',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('sys',)

In [15]:
mydb = mysql.connector.connect(
  host="localhost",
  user="ilia",
  password="Connect2Mysql!@#",
  database="mydatabase")

In [16]:
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [17]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('customers',)

https://www.w3schools.com/python/python_mysql_create_table.asp

http://sysmanager.ir:8080/phpmyadmin/